.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}

.services-title {
    font-size: 2.5rem;

}

.service-cart {
    max-width: 400px;
    margin: 20px;
    padding: 40px 20px;
    background-color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: transform 0.2s;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.service-cart:hover {
    transform: scale(1.05);
}

.service-title {
    margin: 0; /* Убираем отступы, чтобы полоска была близко к заголовку */
    position: relative; /* Устанавливаем позицию relative для псевдоэлемента */
}

.service-title::after {
    content: "";
    display: block;
    height: 2px; /* Высота полоски */
    width: 50%; /* Ширина полоски */
    background-color: #000; /* Цвет полоски */
    margin: 10px auto; /* Отступы сверху и снизу для полоски */
}


@media (max-width: 1200px) {
    .service-cart {
        flex: 1 1 45%; /* Ширина карточки при ширине экрана меньше 1200px */
    }
}

@media (max-width: 768px) {
    .service-cart {
        flex: 1 1 100%; /* Ширина карточки при ширине экрана меньше 768px */
    }
}
