.youtube-player {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    width: 100%;
    min-height: 350px;
}

.youtube-player iframe,
.youtube-player div{
    width: 100%;
    max-width: 1280px;
    max-height: 780px;
}

@media (max-width: 768px) {
    .youtube-player iframe {
        max-width: 100%;
        height: auto;
    }
}
